button:focus {
  outline: none;
}

.page {
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  background-image: var(--page-image);
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding-block: 103px;
  font-family: var(--main-font, 'Inter-Variables');
  font-variation-settings: 'wght' var(--font-weight-regular, 400);
}

.header {
  background-color: var(--bg-color, #fff);
  display: grid;
  margin: 0 auto 103px;
  place-items: center;
  inline-size: clamp(375px, 100vw, 700px);
  border: 2px solid #000;
}

.header__logo {
  display: grid;
  place-self: center;
  gap: 20px;
  padding-block: clamp(120px, 125px, 128px);
}

.header__title {
  font-family: var(--accent-font, 'PressStart2P');
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: var(--font-weight-regular, 400);
  line-height: 65px;
  text-align: center;
  min-inline-size: min-content;
  block-size: fit-content;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font, 'PressStart2P');
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: var(--font-weight-regular, 400);
  line-height: 23px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin: 0 auto;
}
/* основной контент с картинками */
.content {
  margin: 0 auto;
  display: grid;
  gap: 45px;
  place-items: center;
  inline-size: 100%;
}

.content__list {
  display: grid;
  gap: 52px;
  inline-size: 100%;
}

.content__list-item {
  background-color: var(--bg-color, #fff);
  border: 2px solid #000;
  inline-size: 100%;
  margin: 0 auto;
}

.content__list-subtitle {
  padding: 3px 10px;
  font-family: var(--main-font, 'Inter-Variable');
  font-size: var(--main-font-size, 18px);
  line-height: var(--card-title-line-height, 21.78px);
  inline-size: 100%;
  margin: 0 auto;
  font-variation-settings: 'wght' var(--font-weight-bold, 700);
}

.content__image-label {
  position: relative;
  block-size: fit-content;
  inline-size: fit-content;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.content__image {
  display: block;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.image__label {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, 'PressStart2P');
  font-size: 14px;
  line-height: 14px;
  inline-size: fit-content;
  opacity: 0.5;
  pointer-events: none;
  color: #000;
  mix-blend-mode: hard-light;
  text-shadow: 1px 1px #fff;
} 

@supports (-webkit-text-stroke: 1px #fff) {
  .image__label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
} 

.content__text {
  display: grid;
  gap: 27px;
  padding: 25px;
}

.content__paragraph {
  font-size: var(--main-font-size, 18px);
  font-weight: var(--font-weight-regular, 400);
  line-height: var(--main-text-line-height, 21px);
  text-align: left;
}
/* кнопки лайка */
.button__like {
  display: flex;
  justify-self: end;
  gap: 5px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  block-size: 34px;
  inline-size: 39px;
  align-self: center;
  padding: 0;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.like-icon .core {
  transition: 0.3s linear 0.3s;
}

.like-icon .main-body {
  transition: 0.3s linear;
}

.like-icon .contour {
  transition: 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-fill-black, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-fill-black, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-fill-red, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill-red, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill-red, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-red, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-red, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  border: 2px solid #000;
  background-color: var(--bg-color, #fff);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000000;
}

.button::before {
  content: '';
  inline-size: 0%;
  position: absolute;
  inset: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
  background-color: #000;
  overflow: hidden;
}

.button:hover::before {
  inline-size: 100%;
}

.button__text {
  font-family: var(--accent-font, 'PressStart2P');
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  color: #fff;
  mix-blend-mode: difference;
}
/* дискета и кнопка сохранения */
.floppy {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.save-button {
  inline-size: 335px;
  block-size: 55px;
  gap: 8px;
}

/*popup*/
.popup[open] {
  position: fixed;
  inset: 0;
  display: grid;
  gap: 30px;
  padding-block: 30px;
  inline-size: 353px;
  place-items: center;
  transition: opacity 0.3s ease-in-out;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__image {
  display: flex;
  place-items: center;
  inline-size: 293px;
  gap: 20px;
}

.floppy-popup {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: difference;
}

.popup__title {
  font-family: var(--accent-font, 'PressStart2P');
  font-weight: var(--font-weight-regular, 400);
  font-size: 14px;
  inline-size: 234px;
  line-height: var(--main-text-line-height, 21px);
  text-transform: uppercase;
}

.popup__button {
  inline-size: 293px;
  block-size: 38px;
  background-color: var(--bg-color, #fff);
  transition: 0.3s ease-in-out;
}

.popup__button:focus-visible {
  box-shadow: 2px 2px 0px 0px #000000;
}

/* filters */
.filter-grayscale {
  filter: grayscale(1);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-opacity {
  filter: opacity(0.3);
}

.filter-blur {
  filter: blur(0.9em);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-invert {
  filter: invert(0.9);
}

.filter-multi {
  filter: saturate(200%) contrast(2) brightness(200%);
}

@media (width <= 375px) {
  .page {
    padding-block: 95px;
  }

  .header {
    margin-block-end: 95px;
  }

  .header__title {
    line-height: 49px;
  }

  .header__subtitle {
    line-height: 14px;
  }

  .content__list {
    gap: 51px;
  }

  .content__list-item {
    min-inline-size: 375px;
    
  }

  .content__list-subtitle {
    min-inline-size: min-content;
  }

  .image__label {
    right: 15px;
    top: 25px;
  }

  .content__text {
    gap: 27px;
  }

  .save-button {
    inline-size: 306px;
    block-size: 84px;
    display: grid;
    justify-items: center;
    gap: 8px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
    align-self: end;
  }

  .save-button .button__text {
    align-self: start;
  }

  .popup[open] {
    inline-size: 341px;
  }

  .popup__image {
    inline-size: 257px;
  }
  
  .popup__button {
    inline-size: 257px;
  }
}




